{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas Docentes DuocUC</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/styles.css' %}"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load bootstrap_icons %}
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div id="menu" class="col-3 font-menu">
                <a href="/homeDocentes"><img src="{% static 'images/logo-duoc.svg' %}" alt="logo" class="logo-duoc"></a>
                <br>
                <!-- <a href="#" class="boton">
                    <span>Reservar Hora</span>
                </a> -->
                <ul style="list-style: none">
                    <li><a href="/hacerReserva/" class="btn-menu">
                            <!-- {% bs_icon 'check2-square' %} -->- Hacer una reserva</a> 
                    </li>
                    <li><a href="/verReservas/" class="btn-menu">
                            <!-- {% bs_icon 'calendar-event' %} --><span>- Ver reservas realizadas</span></a>
                    </li>
                    <li><a href="/login/" class="btn-menu">
                        <!-- {% bs_icon 'calendar-event' %} --><span>- Cerrar sesión</span></a>
                </li>
                </ul>
            </div>
            <main class="col-9 container-fluid main-content">
                <!-- Usuario en la esquina superior derecha -->
                <!-- <div class="">
                    {% if request.user.is_authenticated %}
                    <img src="{% static 'images/user_icon.png' %}" alt="User Icon" class="user-icon">
                    <div class="user-info">
                        <span class="user-name">{{ request.user.username }}</span>
                        {% if request.user.userprofile %}
                        <span class="user-role">{{ request.user.userprofile.role }}</span>
                        {% else %}
                        <span class="user-role">Sin rol asignado</span>
                        {% endif %}
                    </div>
                    {% else %}
                    <a href="{% url 'login' %}" class="btn-login">Iniciar sesión</a>
                    {% endif %}
                </div> -->

                {% block content %}
                
                {% endblock %}
            </main>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</body>

</html>