{% extends "baseDocentePage.html" %}
{% block content %}
    <h1 class="text-center mt-2">Hacer reserva</h1>
    <div class="mt-5">
        <div class="bg-primary p-2 text-white">
            <label for="">Salas</label>
            <select name="Salas" id="">
                {% for sala in salas %}
                    <option value="">{{sala}}</option>
                {% endfor %}
            </select>
            
        </div>
        <div class="mt-2 bg-white">
            <div class="d-flex justify-content-around h5 p-1">
                <div style="width:20%;" class="text-center">Hora</div>
                <div style="width:16%;" class="text-center">Lunes</div>
                <div style="width:16%;" class="text-center">Martes</div>
                <div style="width:16%;" class="text-center">Miercoles</div>
                <div style="width:16%;" class="text-center">Jueves</div>
                <div style="width:16%;" class="text-center">Viernes</div>
            </div>
        </div>
        <div class="mt-1 bg-white " >
            <div class="d-flex  align-items-center" >
                <div class="p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">08:01 - 08:40</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>
        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">08:41 - 09:20</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">09:31 - 10:10 </div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">10:11 - 10:50</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">11:01 - 11:40</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">11:41 - 12:20</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">12:31 - 13:10</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">13:11 - 13:50</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">14:01 - 14:40</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">14:41 - 15:20</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">15:31 - 16:10</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">16:11 - 16:50</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">17:01 - 17:40</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">17:41 - 18:20</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">18:21 - 19:00</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">19:11 - 19:50</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">19:51 - 20:30</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">20:41 - 21:20</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">21:21 - 22:00</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">22:11 - 22:50</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>


        <div class="bg-white " >
            <div class="d-flex  align-items-center" >
                <div class=" p-1 text-center align-items-center d-flex justify-content-center" style="border: 1px solid gray;height: 2rem;width:20%;">22:51 - 23:30</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Lunes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Martes</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Miercoles</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Jueves</div>
                <div class="p-1 text-white" style="border: 1px solid gray;height: 2rem;width:16%;">Viernes</div>
            </div>

        </div>

        <div class="d-flex justify-content-center">
            <button class="btn btn-primary mt-5 ">Realizar Reserva</button>
        </div>
        

    </div>
    {% endblock %}