{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}




  <div>
    <button type="button" class="btn  bg-dark"><i class="bi bi-cart-fill text-white h3 m-5" data-bs-toggle="modal" data-bs-target="#exampleModal"></i></button>
</div>

{% block content %}
<div class="d-flex justify-content-between">
    <h1>Listado docentes</h1>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">+ Agregar docente</button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content" >
        <div class="modal-header">
          <h1 class="modal-title fs-5 text-center" id="exampleModalLabel">Nuevo docente</h1>
          <div id="contenedorAlerta">

          </div>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body  flex-column w-100" id="modalProductos">
            <div>
                <label for="">Primer nombre</label>
                <input type="text">
            </div>
            <div>
                <label for="">Segundo nombre</label>
                <input type="text">
            </div>
            <div>
                <label for="">Apellido paterno</label>
                <input type="text">
            </div>
            <div>
                <label for="">Apellido materno</label>
                <input type="text">
            </div>

            <div>
                <label for="">correo</label>
                <input type="email">
            </div>

            <div>
                <label for="">contraseña</label>
                <input type="password">
            </div>

        </div>
        <div class="modal-footer">
      
          <button type="button" class="btn btn-outline-primary r" id="btnPagar">Agregar</button>
          
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
          <div id="paypal-button-container"></div>
        </div>
      </div>
    </div>
  </div>





<div class="mt-5">
    {% for user in usuarios %}
        <div class="d-flex mt-2 ">
            <h5 class="me-5">{{user.nombre}}</h5>
            <h5 class="me-5">{{user.correo}}</h5>
            <button class="btn btn-success">Ver reservas</button>
            <button class="btn-danger btn">Eliminar</button>
        </div>
    {% endfor %}
</div>
{% endblock %}