{% extends "base.html" %}

{% load static %}

{% block title %}
Peticiones Pendientes
{% endblock %}

{% block content %}
<!-- Div para peticiones -->
<div class="container py-5">
    <h1 class="text-center mb-4">Solicitudes de Reservas</h1>

    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="alert 
                    {% if message.tags == 'error' %}alert-danger
                    {% elif message.tags == 'success' %}alert-success
                    {% elif message.tags == 'info' %}alert-info
                    {% elif message.tags == 'warning' %}alert-warning
                    {% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Formulario de búsqueda -->
    <form method="get" action="{% url 'reservas' %}" class="row g-3 align-items-center mb-4">
        <div class="col-auto">
            <input type="text" name="correo" value="{{ correo }}" placeholder="Filtrar por correo..." class="form-control" style="min-width: 250px;">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>

    <!-- Tabla de peticiones -->
    <table class="table table-bordered table-striped table-hover rounded bg-white">
        <thead>
            <tr>
                <th>Docente</th>
                <th>Email</th>
                <th>Sala</th>
                <th>Recinto</th>
                <th>Fecha</th>
                <th>Hora Inicio</th>
                <th>Hora Final</th>
                <th>Comentario</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% if reservas|length == 0 %}
                <tr>
                    <td colspan="10" class="text-center">No hay solicitudes.</td>
                </tr>
            {% else %}
                {% for reserva in reservas %}
                    <tr>
                        <td>{{ reserva.docente }}</td>
                        <td>{{ reserva.email }}</td>
                        <td>{{ reserva.sala }}</td>
                        <td>{{ reserva.nombre_recinto }}</td>
                        <td>{{ reserva.fecha_inicio }}</td>
                        <td>{{ reserva.hora_inicio }}</td>
                        <td>{{ reserva.hora_final }}</td>
                        <td title={{ reserva.comentario }}>{{ reserva.comentario|slice:":10" }}{% if reserva.comentario|length > 10 %}...{% endif %}</td>
                        <td>
                            {% if reserva.estado == 0 %}
                                <span class="text-warning fw-bold">PENDIENTE</span>
                            {% elif reserva.estado == 1 %}
                                <span class="text-success fw-bold">APROBADO</span>
                            {% elif reserva.estado == 2 %}
                                <span class="text-danger fw-bold">RECHAZADO</span>
                            {% endif %}
                        </td>
                        <td class="d-flex justify-content-between">
                            <!-- Botón Aprobar -->
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="reserva_id" value="{{ reserva.id }}">
                                <input type="hidden" name="accion" value="aprobar">
                                <button type="submit" class="btn btn-success btn-sm">Aprobar</button>
                            </form>
                            <!-- Botón Rechazar -->
                            <form method="post">
                                {% csrf_token %}
                                <input type="hidden" name="reserva_id" value="{{ reserva.id }}">
                                <input type="hidden" name="accion" value="rechazar">
                                <button type="submit" class="btn btn-danger btn-sm">Rechazar</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    {% include 'pagination.html' %}
</div>
{% endblock %}