{% extends "base.html" %}
{% block content %}

    {% load custom_filters %} 

    <style>
        .ocupado {
            background-color: red;
            color: white;
        }
        .libre {
            background-color: green;
            color: white;
        }

        .select-wrapper {
            height: 50px;
            overflow-y: visible;
          }
          
          .select {
            width: 100%;
            /* make it min-height*/
            min-height: 50px;
            border-radius: 25px;
            border-color: #555;
            padding: 10px;
          }
    </style>

    <script>

        function abrirModal(sala, fechaInicio, horaInicio, horaFin) {
            // Asigna los valores al modal
            document.getElementById('modalSala').value = sala;
            document.getElementById('modalFechaInicio').value = fechaInicio;
            document.getElementById('modalHoraInicio').value = horaInicio;
            document.getElementById('modalHoraFin').value = horaFin;
    
    
            // Mostrar el modal
            var modal = new bootstrap.Modal(document.getElementById('reservaModal'));
            modal.show();
        }
    </script>

    <h1 class="text-center mt-2">Hacer reserva</h1>

    {% if messages %}
    <div class="mt-3">
        {% for message in messages %}
            <div class="alert {% if 'error' in message.tags %}alert-danger{% elif 'success' in message.tags %}alert-success{% elif 'warning' in message.tags %}alert-warning{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    {% endif %}
    

    <div class="mt-5">
        <div class="bg-primary p-2 text-white d-flex">
            <form method="get" action="">
                <label for="salas">Salas</label>
                <select name="sala" id="salas" onchange="this.form.submit()">
                    <option value="">Seleccionar</option> <!-- Opción por defecto -->
                    {% for sala in salas %}
                        <option value="{{ sala }}" {% if sala == sala_seleccionada %}selected{% endif %}>{{ sala }}</option>
                    {% endfor %}
                </select>
                <!-- Input oculto para mantener el valor de capacidad -->
                <input type="hidden" name="capacidad" value="{{ capacidad_seleccionada }}">
                <input type="hidden" name="semana_seleccionada" value="{{ semana_seleccionada }}">
            </form>
            
            <form method="get" action="">
                <label style="padding-left: 20px" for="capacidad">Capacidad</label>
                <select name="capacidad" id="capacidad" onchange="this.form.submit()">
                    <option value="">Seleccionar</option> <!-- Opción por defecto -->
                    {% for capacidad in capacidades %}
                        <option value="{{ capacidad }}" {% if capacidad == capacidad_seleccionada %}selected{% endif %}>{{ capacidad }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="semana_seleccionada" value="{{ semana_seleccionada }}">
            </form>

            <form method="get" action="">
                <label style="padding-left: 20px" for="semana_seleccionada">Semana</label>
                <select name="semana_seleccionada" id="semana_seleccionada" onchange="this.form.submit()">
                    <option value="">Seleccionar</option> <!-- Opción por defecto -->
                    {% for semana in weeks %}
                        <option value="{{ semana }}" {% if semana == semana_seleccionada %}selected{% endif %}>{{ semana }}</option>
                    {% endfor %}
                </select>
                <input type="hidden" name="capacidad" value="{{ capacidad_seleccionada }}">
                <input type="hidden" name="sala" value="{{ sala_seleccionada }}">
            </form>
        </div>

        {% if sala_seleccionada and sala_seleccionada != None %}  <!-- Mostrar la tabla solo si hay una sala seleccionada -->
            <table class="table table-dark table-sm table-bordered mt-4" id="horario">
                <thead>
                    <tr>
                        <th>Hora</th>
                        <th>Lunes</th>
                        <th>Martes</th>
                        <th>Miércoles</th>
                        <th>Jueves</th>
                        <th>Viernes</th>
                        <th>Sábado</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bloque in bloques_horarios %}
                        <tr>
                            <td>{{ bloque.hora_inicio }} - {{ bloque.hora_final }}</td>
                            {% for dia in dias_semana %}
                                {% get_nested_item ocupacion_por_bloque dia bloque.hora_inicio as estado %}
                                <td class="text-center align-middle" style="background-color: {% if estado.estado == 'Ocupado' %}red{% elif estado.estado == 'Reservado' %}orange{% else %}white{% endif %}; color: white;">
                                    {% if estado.estado == "Libre" %}
                                        <button type="button" class="btn btn-outline-success" onclick="abrirModal('{{ sala_seleccionada }}', '{{ estado.fecha }}', '{{ bloque.hora_inicio }}', '{{ bloque.hora_final }}')">Pedir sala</button>
                                    {% else %}
                                        {% if estado.estado == "Reservado" %}{{estado.estado}}<br>{% endif %}<span title={{ estado.descripcion }}>{{ estado.descripcion|cortar_hasta_guion }}</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <div class="modal fade" id="reservaModal" tabindex="-1" aria-labelledby="reservaModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="reservaModalLabel">Pedir Sala</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="reservaForm" method="get" action="{% url 'reservar' %}">

                            {% csrf_token %}

                            <input type="hidden" name="capacidad" value="{{ capacidad_seleccionada }}">
                            <input type="hidden" name="semana_seleccionada" value="{{ semana_seleccionada }}">

                            <div class="mb-3">
                                <label for="horaInicio" class="form-label">Sala</label>
                                <input type="text" class="form-control" id="modalSala" name="sala" readonly>
                            </div>

                            <div class="mb-3">
                                <label for="semana" id="labelDiaSemana" class="form-label">Fecha</label>
                                <input type="text" class="form-control" name="semana" id="modalFechaInicio" readonly>
                            </div>
                            
                            <div class="mb-3">
                                <label for="horaInicio" class="form-label">Hora de Inicio</label>
                                <input type="text" class="form-control" id="modalHoraInicio" name="hora_inicio" readonly>
                            </div>
                            
                            <div class="mb-3">
                                <label for="horaFin" class="form-label">Hora de Finalización</label>
                                <input type="time" class="form-control" id="modalHoraFin" name="hora_final" required>
                            </div>

                            <div class="mb-3">
                                <label for="comentario" id="labelComentario" class="form-label">Razón de uso</label>
                                <input type="text" maxlength="100" class="form-control" id="modalComentario" name="comentario" required>
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Confirmar Reserva</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
