{% extends "baseDocentePage.html" %}
{% block content %}
    <h1 class="text-center">Ver reservas</h1>
    <div class="mt-4">
        <h3 class="text-center">Listado de reservas realizadas</h3>
    </div>
    <div class="mt-5">
        {% for reserva in reservas %}
            <div class="d-flex mt-2 ">
                <h5 class="me-5">{{reserva.sala}}</h5>
                <h5 class="me-5">{{reserva.asignatura}}</h5>
                <h5 class="me-5">{{reserva.fecha}}</h5>
                <h5 class="me-5">{{reserva.horaInicio}}</h5>
                <h5 class="me-5">{{reserva.horaFin}}</h5>
                {% if reserva.estado == 'pendiente' %}
                    <button class="btn-warning btn">Pendiente</button>
                {% endif%}
                {% if reserva.estado == 'aprobado' %}
                    <button class="btn-success btn">Aprobado</button>
                {% endif%}
                {% if reserva.estado == 'rechazado' %}
                    <button class="btn-danger btn">Rechazado</button>
                {% endif%}


            </div>
        {% endfor %}
    </div>




{% endblock %}