@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --color-barra-lateral:rgb(0,0,0); 

    --color-texto:rgb(0,0,0);
    --color-texto-menu:rgb(250, 250, 250);

    --color-menu-hover:rgb(88, 88, 88);
    --color-menu-hover-texto:rgb(255, 255, 255);

    --color-boton:rgb(37, 37, 37);
    --color-boton-texto:rgb(255,255,255);

    --color-linea:rgb(180,180,180);

    --color-switch-base :rgb(201,202,206);
    --color-switch-circulo:rgb(241,241,241);

    --color-scroll:rgb(192,192,192);
    --color-scroll-hover:rgb(134,134,134);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;

}

ol, ul {
    padding-left:0px !important;
}

body{
    height: 100vh;
    width: 100%;
    background-color: rgb(221, 220, 220);
}

/*-----------------Menu*/
.menu{
    position: fixed;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
    right: 15px;
    top: 15px;
    z-index: 100;
}

/*----------------Barra Lateral*/
.barra-lateral{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 100%;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease,background-color 0.3s ease,left 0.5s ease;
    z-index: 50;
}

.mini-barra-lateral{
    width: 80px;
}
.barra-lateral span{
    width: 100px;
    white-space: nowrap;
    font-size: 18px;
    text-align: left;
    opacity: 1;
    transition: opacity 0.5s ease,width 0.5s ease;
}
.barra-lateral span.oculto{
    opacity: 0;
    width: 0;
}

/*------------> Nombre de la página */
.barra-lateral .nombre-pagina{
    width: 100%;
    height: 45px;
    color: var(--color-texto);
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.barra-lateral .nombre-pagina ion-icon{
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}
.barra-lateral .nombre-pagina span{
    margin-left: 5px;
    font-size: 25px;
}
.nombre-pagina img{
    width: 100%;
    height: 50px;
}

/*------------> Botón*/
.barra-lateral .boton{
    width: 100%;
    height: 45px;
    margin-bottom: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    background-color: var(--color-boton);
    color: var(--color-boton-texto);
}
.barra-lateral .boton ion-icon{
    min-width: 50px;
    font-size: 25px;
}

/*--------------> Menu Navegación*/
.barra-lateral .navegacion{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.barra-lateral .navegacion::-webkit-scrollbar{
    width: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb{
    background-color: var(--color-scroll);
    border-radius: 5px;
}
.barra-lateral .navegacion::-webkit-scrollbar-thumb:hover{
    background-color: var(--color-scroll-hover);
}
.barra-lateral .navegacion li{  
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}
.barra-lateral .navegacion a{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: var(--color-texto-menu);
}
.barra-lateral .navegacion a:hover{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}
.barra-lateral .navegacion ion-icon{
    min-width: 50px;
    font-size: 20px;
}

/*---------------> Usuario*/
.barra-lateral .usuario{
    width: 100%;
    display: flex;
}
.barra-lateral .usuario img{
    width: 50px;
    min-width: 50px;
    border-radius: 10px;
}
.barra-lateral .usuario .info-usuario{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-texto);
    overflow: hidden;
}
.barra-lateral .usuario .nombre-email{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.barra-lateral .usuario .nombre{
    font-size: 15px;
    font-weight: 600;
}
.barra-lateral .usuario .email{
    font-size: 13px;
}
.barra-lateral .usuario ion-icon{
    font-size: 30px;
    display: flex;
    margin-left: 40px;
    color: #000;
}

/*------------- Dropdown para Cerrar Sesión */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ddd;
}

/*-------------main*/
.activate{
    background-color: var(--color-menu-hover);
    color: var(--color-menu-hover-texto);
}

.deactivate{
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}

main{
    margin-left: 250px;
    padding: 20px;
    transition: margin-left 0.5s ease;
}
main.min-main{
    margin-left: 80px;
}

/* css peticiones */
.busqueda{
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 10px;
    align-items: center;
}

.busqueda input{
    width: 300px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.busqueda .icon{
    width: 30px;
    height: 30px;
}

table{
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background-color: white;
    border: 1px solid black;
    border-collapse: collapse;
}

table th{
    font-size: 20px;
    padding: 10px;
}

table td{
    color: #4d4d4d;
    padding: 10px;
}

tr{
    border: 1px solid #ccc;
}

.peticiones hr{
    margin: 5vh 0;
    width: 100%;
}

.btn-pendi{
    background-color: rgb(231, 184, 55);
    border: none;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.btn-confi{
    background-color: rgb(58, 163, 58);
    border: none;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.btn-cance{
    background-color: gray;
    border: none;
    height: 50px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 10px;
}

/*------------------> Responsive*/
@media (max-height: 660px){
    .barra-lateral .nombre-pagina{
        margin-bottom: 5px;
    }
    .barra-lateral .modo-oscuro{
        margin-bottom: 3px;
    }
}
@media (max-width: 600px){
    .barra-lateral{
        position: fixed;
        left: -250px;
    }
    .max-barra-lateral{
        left: 0;
    }
    .menu{
        display: flex;
    }
    .menu ion-icon:nth-child(2){
        display: none;
    }
    main{
        margin-left: 0;
    }
    main.min-main{
        margin-left: 0;
    }
}


/* Navbar dentro del cuadro blanco */
.navbar-desplegable {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.44);
    margin-bottom: 20px; /* Añade un margen inferior para separar la tabla de la navbar */
}

.navbar-desplegable ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.navbar-desplegable ul li {
    color: white;
    padding: 10px;
}


/* Botón de Confirmación */
.modal-body button[type="submit"]{
    background-color: #FFCC00;
    color: #000000;
}
.modal-body button[type="submit"]:hover{
    color: #000000;
    background-color: #ffae00;
}

/* Botón de Cancelación */
.modal-body button[type="button"]{
    background-color: #000000;
    color: #ffffff;
    margin-left: 50%;
}
.modal-body button[type="button"]:hover{
    color: #a0a0a0;
    background-color: #1A1A1A;
}

/* Calendario pequeño */

.navcalen{
    width: 300px;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    position: fixed;
    display: flex;
    margin-top: 30px;
}

.wrapper{
    width: 300px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.12);
  }
  .wrapper header{
    display: flex;
    align-items: center;
    padding: 5px 30px;
    justify-content: space-between;
  }
  header .icons{
    display: flex;
  }
  header .icons span{
    height: 40px;
    width: 40px;
    margin: 0 1px;
    cursor: pointer;
    color: #878787;
    text-align: center;
    line-height: 38px;
    font-size: 1.9rem;
    user-select: none;
    border-radius: 50%;
  }
  .icons span:last-child{
    margin-right: -10px;
  }
  header .icons span:hover{
    background: #f2f2f2;
  }
  header .current-date{
    font-size: 20px;
    font-weight: 500;
  }
  .calendar{
    padding: 5px 20px;
  }

  .weeks{
    margin: 0%;
  }

  .calendar ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
  }
  .calendar .days{
    margin-bottom: 20px;
  }
  .calendar li{
    color: #333;
    width: calc(100% / 7);
    font-size: 10px;
  }
  .calendar .weeks li{
    font-weight: 500;
    cursor: default;
  }
  .calendar .days li{
    z-index: 1;
    cursor: pointer;
    position: relative;
    margin-top: 10px;
  }
  .days li.inactive{
    color: #aaa;
  }
  .days li.active{
    color: #fff;
  }
  .days li::before{
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 20px;
    width: 20px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
  }
  .days li.active::before{
    background: #000000;
  }
  .days li:not(.active):hover::before{
    background: #f2f2f2;
  }

  .grid{
    width: 200px;
    display: inline-flex !important;
  }

  .grid a{
    text-decoration: none !important;
  }