{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

{% block title %}
Listar Salas
{% endblock %}

{% block content %}
<div class="salas">
    <div class="container mx-auto">
        <h1 class="text-3xl font-bold text-gray-800">Salas</h1>
    </div>

    <section class="container mx-auto my-6">
        <div class="flex justify-between items-center">
            <div class="flex space-x-4">
                <div class="relative">
                    <input id="buscarSala" type="text" placeholder="Busque la sala"
                        class="border rounded-lg p-2 pl-10 w-80">
                </div>
            </div>
            <div class="flex space-x-4 items-center">
                <div>
                    <select id="selectSala" class="border rounded-lg p-2">
                        <option>--Filtrar Por Sala--</option>
                        {% for sala in salas %}
                        <option value="{{ sala.id }}">{{ sala.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div>
                    <select id="selectPag" class="border rounded-lg p-2">
                        <option>25 elementos por página</option>
                    </select>
                </div>
            </div>
        </div>
        <p class="mt-4 text-gray-600">{{ salas|length }} resultados</p>
    </section>

    <section class="container mx-auto">
        {% if salas %}
        {% for index in salas %}
        <div class="grid">
            <a href="/horario_sala/">
                <div class="bg-white shadow rounded-lg">
                    <div class="p-4">
                        <h2 class="font-bold text-gray-700">{{ index.nombre }}</h2>
                        <p class="text-sm text-gray-500">Abierto</p>
                        <p class="text-sm text-gray-500 mt-2">ID:{{ index.tipo }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">No hay datos</td>
        </tr>
        {% endif %}

        <div id="idMensajes">
            {% if mensaje %}
            {{ mensaje }}
            {% endif %}
        </div>

    </section>
</div>
{% endblock %}