{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

{% block title %}
Cargar Archivos
{% endblock %}


{% block content %}
<div class="cargar-archivo">
    <form>
        <h2>Cargar Archivo</h2>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
        <!-- <input type="file" id="file-input" name="archivo" style="display:none;" onchange="fileSelected(event)"> -->
        <!-- <button type="button" class="btn btn-primary" id="upload-button">Selecciona tu Archivo</button> -->
        <!-- <button type="submit" class="btn btn-success">Cargar Archivo</button> -->
    </form>
</div>
{% endblock %}
