{% extends "base.html" %}

{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap_icons %}

{% block title %}
Horario de Sala
{% endblock %}

{% block content %}
<!-- Contenedor del Horario (Inicialmente oculto) -->
<div id="container" class="table">
    <div id="calendarContainer">
        <div id="calendar">
            <div id="monthYearNavigation">
                <button id="prevMonth">◀</button>
                <div id="monthYear"></div>
                <button id="nextMonth">▶</button>
            </div>
            <div id="daysOfWeek">
                <span>Lun</span>
                <span>Mar</span>
                <span>Mié</span>
                <span>Jue</span>
                <span>Vie</span>
                <span>Sab</span>
                <span>Dom</span>
            </div>
            <div id="days"></div>
        </div>
    </div>
    <div id="weeklyView">
        <h2 id="weekRange"></h2>
        <!-- Muestra el nombre de la sala seleccionada -->
        <h3 id="selectedSalaHeader" class="text-center"></h3>
        <table id="schedule">
            <thead>
                <tr>
                    <th>HORARIO</th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIÉRCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                    <th>SÁBADO</th>
                </tr>
            </thead>
            <tbody>
                {% for index in reservas %}
                <tr>
                    <td>{{ index.hora_inicio }} - {{ index.hora_fin }}</td>
                    <td>{{ index.nombre_evento }}</td>
                    <!-- Añade más celdas según sea necesario -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
