<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendario con Vista Semanal</title>
    <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/carga-archivos/styles.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
</head>
<body>

    <div class="menu">
        <ion-icon name="menu-outline"></ion-icon>
        <ion-icon name="close-outline"></ion-icon>
    </div>

        <!-- Usuario en la esquina superior derecha -->
    <div class="usuario-top-right">
        {% if request.user.is_authenticated %}
            <img src="" alt="User Icon" class="user-icon">
            <div class="user-info">
                <span class="user-name">{{ request.user.username }}</span>
                {% if request.user.userprofile %}
                    <span class="user-role">{{ request.user.userprofile.role }}</span>
                {% else %}
                    <span class="user-role">Sin rol asignado</span>
                {% endif %}
            </div>
        {% else %}
            <a href="{% url 'login' %}" class="btn-login">Iniciar sesión</a>
        {% endif %}
    </div>
    
    <div class="barra-lateral">
        <div>
            <div class="nombre-pagina">
                <img src="{% static 'images/logo_duoc.png' %}" alt="">
            </div>
            <hr>
            <br>
            <a href="#" class="boton">
                <ion-icon name="add-outline"></ion-icon>
                <span>Reservar Hora</span>
            </a>
        </div>

        <nav class="navegacion">
            <ul>
                <li>
                    <a id="menu1" class="menu1" onclick="show('peticiones')">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Peticiones</span>
                    </a>
                </li>
                <li>
                    <a id="menu2" class="menu2" onclick="show('cargar-archivo')">
                        <ion-icon name="mail-unread-outline"></ion-icon>
                        <span>Cargar Archivos</span>
                    </a>
                </li>
                <li>
                    <a id="menu3" class="menu3" onclick="show('salas')">
                        <ion-icon name="calendar-number-outline"></ion-icon>
                        <span>Ver Salas</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="usuario">
                <div class="acciones-usuario">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}" class="btn-logout">Cerrar sesión</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn-login">Iniciar sesión</a>
                    {% endif %}
                </div>
            </div>
        </div>

<main>
    <!-- Div para peticiones
    <div class="peticiones" id="peticiones" style="display: none;">
        <header class="bg-white py-4 shadow-sm">
            <div class="container mx-auto">
                <h1 class="text-3xl font-bold text-gray-800">Peticiones</h1>
            </div>
        </header>
        <div class="busqueda">
            <h1>Buscar</h1>
            <input type="text">
            <ion-icon class="icon" name="search-outline"></ion-icon>
            <ion-icon class="icon" name="refresh-outline"></ion-icon>
        </div>
        <button class="btn-pendi" onclick="filter('pendientes')">Pendientes</button>
        <button class="btn-confi" onclick="filter('confirmadas')">Confirmadas</button>
        <button class="btn-cance" onclick="filter('rechazadas')">Rechazadas</button>

        <table>
            <tr>
                <th>Estado</th>
                <th>Dia</th>
                <th>Horario</th>
                <th>Sala</th>
                <th>Clase</th>
            </tr>
            <tr>
                <td>Pendiente</td>
                <td>10/07/2024</td>
                <td>10:00 - 11:20</td>
                <td>Sala 05</td>
                <td>Aplicaciones Moviles</td>
            </tr>
            Más filas de ejemplo
        </table>
    </div>-->

    <!-- Div para cargar archivos -->
    <!-- <div class="cargar-archivo" id="cargar-archivo" style="display: none;">
        <header class="bg-white py-4 shadow-sm">
            <div class="container mx-auto">
                <h1 class="text-3xl font-bold text-gray-800">Cargar Archivos</h1>
            </div>
        </header>
        <div>
            <div class="upload-status text-center" id="upload-status"></div>
            <form id="upload-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="file" id="file-input" name="archivo" style="display:none;" onchange="fileSelected(event)">
                <button type="button" class="btn btn-primary" id="upload-button">Selecciona tu Archivo</button> 
                <button type="submit" class="btn btn-success">Cargar Archivo</button>
            </form>
            <div class="drag-drop-area text-center" id="drag-drop-area">
                <div class="drag-drop-text">
                    <span>O arrastra tu archivo aquí</span>
                </div>
            </div>
        </div>
    </div>  -->

    <!-- Div para ver salas -->
    <div class="salas" id="salas" style="display: none;">
        <header class="bg-white py-4 shadow-sm">
            <div class="container mx-auto">
                <h1 class="text-3xl font-bold text-gray-800">Salas</h1>
            </div>
        </header>
        <section class="container mx-auto my-6">
            <div class="flex justify-between items-center">
                <div class="flex space-x-4">
                    <div class="relative">
                        <input type="text" placeholder="Busque la sala" class="border rounded-lg p-2 pl-10 w-80">
                    </div>
                </div>
                <div class="flex space-x-4 items-center">
                    <div>
                        <select class="border rounded-lg p-2">
                            <option>--Filtrar Por Sala--</option>
                            {% for sala in salas %}
                            <option value="{{ sala.id }}">{{ sala.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <select class="border rounded-lg p-2">
                            <option>25 elementos por página</option>
                        </select>
                    </div>
                </div>
            </div>
            <p class="mt-4 text-gray-600">{{ salas|length }} resultados</p>
        </section>

        <section class="container mx-auto">
            {% for sala in salas %}
            <a id="menu3" class="bloquesalas" href="#" data-sala-id="{{ sala.id }}" onclick="selectSala({{ sala.id }}); return false;">
                <div class="grid">
                    <div class="bg-white shadow rounded-lg overflow-hidden">
                        <div class="p-4">
                            <h2 class="font-bold text-gray-700">{{ sala.nombre }}</h2>
                            <p class="text-sm text-gray-500">Abierto</p>
                            <p class="text-sm text-gray-500 mt-2">ID: {{ sala.id }} - {{ sala.tipo }}</p>
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </section>
    </div>
<!-- Contenedor del Horario (Inicialmente oculto) -->
<div id="container" class="table" style="display: none;">
    <div id="calendarContainer">
        <div id="calendar">
            <div id="monthYearNavigation">
                <button id="prevMonth">◀</button>
                <div id="monthYear"></div>
                <button id="nextMonth">▶</button>
            </div>
            <div id="daysOfWeek">
                <span>Lun</span>
                <span>Mar</span>
                <span>Mié</span>
                <span>Jue</span>
                <span>Vie</span>
                <span>Sab</span>
                <span>Dom</span>
            </div>
            <div id="days"></div>
        </div>
    </div>
    <div id="weeklyView">
        <h2 id="weekRange"></h2>
        <!-- Muestra el nombre de la sala seleccionada -->
        <h3 id="selectedSalaHeader" class="text-center"></h3>
        <table id="schedule">
            <thead>
                <tr>
                    <th>HORARIO</th>
                    <th>LUNES</th>
                    <th>MARTES</th>
                    <th>MIÉRCOLES</th>
                    <th>JUEVES</th>
                    <th>VIERNES</th>
                    <th>SÁBADO</th>
                </tr>
            </thead>
            <tbody>
                <!-- Filas de horarios serán generadas aquí -->
            </tbody>
        </table>
    </div>
</div>


<!-- Modal para Crear Reserva -->
<div class="modal fade" id="modalReserva" tabindex="-1" aria-labelledby="staticBackdropLabel" data-bs-keyboard="false" data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Detalles de la Reserva en <span id="modalSalaName"></span></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form enctype="multipart/form-data" method="POST" action="{% url 'crear_reserva' %}">
                    {% csrf_token %}
                    <!-- Campo oculto para almacenar el ID de la sala -->
                    <input type="hidden" id="sala-id" name="sala-id">
                    
                    <div class="mb-3">
                        <label for="sala" class="form-label">Sala:</label>
                        <input type="text" id="sala" name="sala" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="nombre-evento" class="form-label">Nombre de Evento:</label>
                        <input type="text" id="nombre-evento" name="nombre-evento" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label for="descripcion" class="form-label">Descripción</label>
                        <textarea id="descripcion" name="descripcion" class="form-control" rows="3"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="fecha-ini" class="form-label">Fecha Inicio:</label>
                        <input type="date" id="fecha-ini" name="fecha-ini" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="hora-inicio" class="form-label">Hora Inicio:</label>
                        <input type="time" id="hora-inicio" name="hora-inicio" class="form-control" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="hora-fin" class="form-label">Hora Fin:</label>
                        <input type="time" id="hora-fin" name="hora-fin" class="form-control" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary">Generar Reserva</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
</main>

<script type="application/json" id="reservas-data">
    {{ reservas_json|safe }}
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
