.navImg{
    height: 40px; /* Ajusta la altura del logo */
}
.user-photo{
    height: 30px;
}

.container-grid {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
        "header header"
        "main main"
        "footer footer";
    height: 100vh;
    min-height: 100vh; /* Ajusta la altura mínima al 100% de la ventana */
}

header{
    grid-area: header;
}
.navbar{
    background-color: #000000;
    box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.44);
    color: white;
}
.navbar h3{
    color:white;
}



.background{
    grid-area: main;
    background-image: url(/AraceliTake/static/IMG/main-content-header-IMG.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/* GESTOR DE RECINTOS SEDE VIÑA DEL MAR */
.main-content-header {
    padding: 10px;
    width: 32%;
    height: 11%;
    top: 15%;
    position: absolute;
    background-color: white;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Asegura que el texto esté centrado */
    box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.44);
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
}
 
/* Caja del formulario de inicio de sesión */
.login-box {
    width: 60%;
    height: auto;
    top: 32%;
    left: 19%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding-top: 16px;
    max-width: 700px; /* Establece un ancho máximo */
    left: 50%; /* Centra horizontalmente */
    transform: translateX(-50%); /* Ajuste para centrar */
}
.login-form {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 30px;
    background-color: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.44);
}

.login-form button{
    background-color: #000000;
    box-shadow: 0px 4px 3px -1px rgba(0,0,0,0.44);
    color: white;
}
.login-form button:hover{
    color: #a0a0a0;
    background-color: #1A1A1A;
}

footer {
    grid-area: footer;
    background-color: #1A1A1A;
    color: rgba(255, 255, 255, 0);
    text-align: left;
    padding: 5px;
}